/* Required for sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 102px;
}

/* Sticky footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 102px;
  text-align: center;
}

#footer .text-muted {
  color: #ccc;
}

.full-width span, .full-width span input {
  width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.header-search, .header-search form {
  padding-right: 0;
}

span.subdued {
  margin-left: 10px;
  color: #ccc;
  font-size: .8em;
}

h1 span.subdued {
  font-size: .6em;
  text-transform: uppercase;
}

.well.well-sm {
  background-color: #fcf8e3;
}

.component-img {
  float: left;
  max-width: 100px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.component-img-right {
  float: right;
  max-width: 100px;
  margin-left: 25px;
  margin-bottom: 20px;
}

hr.separator {
  clear: both;
}

.aside-text {
  float: right;
  margin-left: 15px;
}

h1, h2 {
  clear: both;
}

.caption {
  font-size: 85%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.occurrence {
  font-size: 70%;
  margin-left: 5px;
  color: #ccc;
}

tr > td > p:last-child {
  margin-bottom: 0;
}

blockquote p {
  font-style: italic;
  font-size: 1em;
}

.well h4 {
  margin-top: 0;
}

a.disabled {
  opacity: 0.5;
  cursor: pointer;
}

.getting-started-left {
  border-right: 2px solid #f5f5f5;
}

.getting-started-right {
  border-left: 2px solid #f5f5f5;
}

.idiom-header > * {
  vertical-align: middle;
  display: inline-block;
}

.idiom-header {
  border-bottom: 4px solid #f5f5f5;
  padding-bottom: 2px;
}

.idiom-row ul {
  padding: 0;
  margin: 0;
}

.idiom-row .component-img {
  float: none;
  max-width: 40px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 5px;
}

.idiom-row ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

.idiom-row ul li h4 {
  margin-bottom: 5px;
}

.idiom-row ul li p {
  font-size: 0.8em;
}

.site-title {
  font-size: 63px;
  padding: 15px 0;
}

.contact-icon {
    font-size: 3em;
    text-align: center;
}

.contact-icon > span {
    background-color: #428bca;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    line-height: 2em;
    margin-bottom: 10px;
    color: white;
}

.label-command-and-control {
    background-color: #428bca;
}

.label-packaging {
    background-color: #d9534f;
}

.label-malware {
    background-color: #AF5BDE;
}

.label-victim-targeting {
    background-color: #01D3B1;
}
