<ul class="nav">
  <li class="header">About STIX</li>
  <li><a href="#top">What is STIX?</a></li>
  <li><a href="#stix-and-taxii">STIX and TAXII</a></li>
  <li><a href="#the-stix-community">The STIX Community</a></li>
  <li class="header">Frequently Asked Questions</li>
  <li><a href="#who-is-stix-for?-what-does-stix-do-for-me?">Who is STIX for?</a></li>
  <li><a href="#how-do-i-get-stix?">How do I get STIX?</a></li>
  <li><a href="#where-can-i-find-examples-of-stix-data?-are-there-any-stix-repositories?">Where can I find examples?</a></li>
  <li><a href="#how-do-i-use-stix?-what-tools/utilities-are-available-for-this-effort?">How do I use STIX?</a></li>
  <li><a href="#who-is-using-stix?">Who is using STIX?</a></li>
  <li><a href="#how-is-stix-licensed?">How is STIX licensed?</a></li>
  <li class="header">Relationships to Other Efforts</li>
  <li><a href="#taxii">TAXII</a></li>
  <li><a href="#cybox">CybOX</a></li>
  <li><a href="#maec">MAEC</a></li>
  <li><a href="#capec">CAPEC</a></li>
  <li><a href="#iodef">IODEF</a></li>
  <li><a href="#openioc">OpenIOC</a></li>
  <li><a href="#ciq">CIQ</a></li>
  <li><a href="#veris">VERIS</a></li>
</ul>
