<ul class="nav">
  <li><a href="#what-is-stix?">What is STIX?</a></li>
  <li><a href="#who-is-stix-for?-what-does-stix-do-for-me?">Who is STIX for?</a></li>
  <li><a href="#how-do-i-get-stix?">How do I get STIX?</a></li>
  <li><a href="#where-can-i-find-examples-of-stix-data?-are-there-any-stix-repositories?">Where can I find examples?</a></li>
  <li><a href="#how-do-i-use-stix?-what-tools/utilities-are-available-for-this-effort?">How do I use STIX?</a></li>
  <li><a href="#what-is-the-role-of-the-stix-community-and-how-can-i-join?">How can I join the community?</a></li>
  <li><a href="#who-funds-stix?">Who funds STIX?</a></li>
  <li><a href="#who-owns-stix?">Who owns STIX?</a></li>
  <li><a href="#how-is-stix-licensed?">How is STIX licensed?</a></li>
  <li><a href="#stix-package">STIXType (STIX_Package)</a></li>
  <li><a href="#indicator">Indicator</a></li>
  <li><a href="#observable">Observable</a></li>
  <li><a href="#handling">Data Markings</a></li>
</ul>
