<div id="footer">
  <hr />
  <div class="container">
    <p class="text-muted">
      Copyright {{ site.time | date: '%Y' }} {{ site.copyright }}. <a href="http://stix.mitre.org/about/termsofuse.html">Terms of Use</a>
    </p>
  </div>
</div>

<!-- jQuery JS -->
<script src="{{site.root}}/js/jquery.min.js"></script>

<!-- bootstrap JS -->
<script src="{{site.root}}/js/bootstrap.min.js"></script>

<!-- typeahead JS -->
<script src="{{site.root}}/js/typeahead.min.js"></script>

<!-- autocomplete results -->
<script src="{{site.root}}/js/autocomplete.js"></script>

<!-- Custom JS -->
<script src="{{site.root}}/js/main.js"></script>