<div id="footer" {% if page.toc %}style="position: relative;"{% endif %}>
  <hr />
  <div class="container">
    <p class="text-muted">
      Copyright {{ site.time | date: '%Y' }} {{ site.copyright }}. <a href="/legal">Legal</a>
    </p>
  </div>
</div>

<!-- jQuery JS -->
<script src="{{site.root}}/js/jquery.min.js"></script>

<!-- bootstrap JS -->
<script src="{{site.root}}/js/bootstrap.min.js"></script>

<!-- typeahead JS -->
<script src="{{site.root}}/js/typeahead.min.js"></script>

<!-- autocomplete results -->

<script src="{{site.root}}/js/autocomplete-{% if page.this_version %}{{page.this_version}}{% else %}{{site.current_version}}{% endif %}.js"></script>

<!-- Custom JS -->
<script src="{{site.root}}/js/main.js"></script>