<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | STIX Project Documentation</title>
    <meta name="viewport" content="width=device-width">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="{{site.root}}/css/bootstrap.min.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{site.root}}/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.root}}/css/main.css">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35243969-1']);
      _gaq.push(['_setDomainName', 'stixproject.github.io'])
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>
