<div id="multi-site-nav">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <a class="btn btn-info" href="https://cyboxproject.github.io">CybOX</a>
    </div>
    <div class="btn-group">
      <a class="btn btn-primary" href="https://maecproject.github.io">MAEC</a>
    </div>
    <div class="btn-group">
      <a class="btn btn-danger" href="https://stixproject.github.io">STIX</a>
    </div>
    <div class="btn-group">
      <a class="btn btn-warning" href="https://taxiiproject.github.io">TAXII</a>
    </div>
  </div>
</div>
