<div class="collapse" id="multi-site-nav">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        CybOX <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="http://cybox.mitre.org">Main Website</a></li>
        <li><a href="http://cyboxproject.github.io">Documentation</a></li>
        <li><a href="https://github.com/CybOXProject/">CybOXProject on GitHub</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        MAEC <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="http://maec.mitre.org">Main Website</a></li>
        <li><a href="http://maecproject.github.io">Documentation</a></li>
        <li><a href="https://github.com/MAECProject/">MAECProject on GitHub</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        STIX <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="http://stix.mitre.org">Main Website</a></li>
        <li><a href="http://stixproject.github.io">Documentation</a></li>
        <li><a href="https://github.com/STIXProject/">STIXProject on GitHub</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
        TAXII <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="http://taxii.mitre.org">Main Website</a></li>
        <li><a href="http://taxiiproject.github.io">Documentation</a></li>
        <li><a href="https://github.com/TAXIIProject/">TAXIIProject on GitHub</a></li>
      </ul>
    </div>
  </div>
</div>
