<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.root }}/">{{ site.name }}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started</a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">Analysts &amp; Managers</li>
            <li role="presentation"><a href="http://stix.mitre.org/about/documents/STIX_Whitepaper_v1.1.pdf">Whitepaper (PDF)</a></li>
            <li role="presentation" class="disabled"><a href="#" class="coming-soon" data-toggle="tooltip" data-placement="right" title="Coming Soon!">Walkthrough></li>
            <li role="presentation" class="disabled"><a href="#" class="coming-soon" data-toggle="tooltip" data-placement="right" title="Coming Soon!">Modeling Exercise</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Developers</li>
            <li role="presentation"><a href="http://stix.readthedocs.org/en/latest/getting_started.html">Getting Started with Python</a></li>
            <li role="presentation"><a href="/getting-started/sample-walkthrough">XML Sample Walkthrough</a></li>
            <li role="presentation"><a href="/getting-started/authoring-tutorial">XML Authoring Tutorial</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation</a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/documentation/validation">Validation</a></li>
            <li role="presentation"><a href="/documentation/suggested-practices">Suggested Practices</a></li>
            <li role="presentation"><a href="/documentation/security">Security Considerations</a></li>
            <li role="presentation"><a href="/documentation/utilities">Utilities</a></li>
            <li role="presentation"><a href="/documentation/profiles">Profiles</a></li>
            <li role="presentation"><a href="/documentation/idioms">Idioms</a></li>
          </ul>
        </li>

        <li><a href="/data-model">Data Model</a></li>
      </ul>

      <div class="col-sm-4 col-md-4 pull-right header-search">
        <form class="navbar-form full-width" role="search">
          <input type="text" class="form-control doc-types" placeholder="Search STIX Data Model..." name="header-search" id="header-search">
        </form>
      </div>

    </div>
  </div>
</div>
