<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    {% include multisitenav.html %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="https://stixproject.github.io" class="pull-left"><img src="/images/logo.png" style="max-height: 100px; max-width: 120px; margin-top: 3px;"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/getting-started">Getting Started Home</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Analysts &amp; Managers</li>
            <li role="presentation"><a href="/getting-started/whitepaper">Whitepaper</a></li>
            <li role="presentation" class="disabled"><a href="#" class="coming-soon" data-toggle="tooltip" data-placement="right" title="Coming Soon!">Walkthrough</a></li>
            <li role="presentation"><a href="/getting-started/analyst-exercise">Modeling Exercise</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Developers</li>
            <li role="presentation"><a href="http://stix.readthedocs.org/en/latest/getting_started.html">Getting Started with Python</a></li>
            <li role="presentation"><a href="/getting-started/sample-walkthrough">XML Sample Walkthrough</a></li>
            <li role="presentation"><a href="/getting-started/authoring-tutorial">XML Authoring Tutorial</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/documentation">Documentation Home</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="/usecases">Use Cases</a></li>
            <li role="presentation"><a href="/documentation/concepts">Concepts</a></li>
            <li role="presentation"><a href="/documentation/idioms">Idioms</a></li>
            <li role="presentation"><a href="/documentation/profiles">Profiles</a></li>
            <li role="presentation"><a href="/documentation/security">Security Considerations</a></li>
            <li role="presentation"><a href="/documentation/suggested-practices">Suggested Practices</a></li>
            <li role="presentation"><a href="/documentation/utilities">Utilities</a></li>
            <li role="presentation"><a href="/documentation/validation">Validation</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Model<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/data-model">Overview</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Core Types</li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/campaign/CampaignType">Campaign</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/coa/CourseOfActionType">Course of Action</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/et/ExploitTargetType">Exploit Target</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/incident/IncidentType">Incident</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/indicator/IndicatorType">Indicator</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/report/ReportType">Report</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/ta/ThreatActorType">Threat Actor</a></li>
            <li role="presentation"><a href="/data-model/{{site.current_version}}/ttp/TTPType">TTP</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Previous Releases</li>
            <li role="presentation"><a href="/data-model/1.1.1">STIX 1.1.1</a></li>
            <li role="presentation"><a href="/data-model/1.1">STIX 1.1</a></li>
            <li role="presentation"><a href="/data-model/1.0.1">STIX 1.0.1</a></li>
            <li role="presentation"><a href="/data-model/1.0">STIX 1.0</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Community <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/community"> Community Home </a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="/supporters"> STIX/TAXII Users </a></li>
            <li role="presentation"><a href="http://stixproject.tumblr.com/"> News/Blog </a></li>
          </ul>
        </li>
        <li><a href="/about">About</a></li>
      </ul> <!-- end navbar item list-->
      <div class="col-sm-4 col-md-4 pull-right header-search">
        <form class="navbar-form full-width" role="search">
          <input type="text" class="form-control doc-types" placeholder="Lookup STIX Data Types" name="header-search" id="header-search">
        </form>
      </div>
    </div>
  </div>
</div>
