<ul class="nav">
  <li class="header">General Practices</li>
  <li><a href="#formatting-ids">Formatting IDs</a></li>
  <li><a href="#assigning-ids">Assigning IDs</a></li>
  <li><a href="#titles-and-descriptions">Titles &amp; Descriptions</a></li>
  <li><a href="#information-source">Information Source</a></li>
  <li><a href="#referencing-vs-embedding">Referencing vs. Embedding</a></li>
  <li><a href="#versioning">Versioning</a></li>
  <li><a href="#using-vocabularies">Using Vocabularies</a></li>
  <li><a href="#creating-timestamps">Creating Timestamps</a></li>
  <li><a href="#creating-documents-for-human-consumption">Human Readability</a></li>
  <li class="header">Construct Practices</li>
  <li><a href="#stix-package">STIXType (STIX_Package)</a></li>
  <li><a href="#report">STIXType (STIX_Package)</a></li>
  <li><a href="#indicator">Indicator</a></li>
  <li><a href="#observable">Observable</a></li>
  <li><a href="#handling">Data Markings</a></li>
</ul>
