<ul class="nav">
  <li><a href="#abstract">Abstract</a></li>
  <li><a href="#trademark-information">Trademark Information</a></li>
  <li><a href="#feedback">Feedback</a></li>
  <li><a href="#table-of-contents">Table of Contents</a></li>
  <li><a href="#introduction">Introduction</a></li>
  <li><a href="#background">Background</a></li>
  <li><a href="#current-approaches">Current Approaches</a></li>
  <li><a href="#history">History</a></li>
  <li><a href="#what-is-stix">What is STIX?</a></li>
  <li><a href="#use-cases">Use Cases</a></li>
  <li><a href="#guiding-principles">Guiding Principles</a></li>
  <li><a href="#architecture">Architecture</a></li>
  <li><a href="#stix-structure">STIX Structure</a></li>
  <li><a href="#implementations">Implementations</a></li>
  <li><a href="#usage">Usage</a></li>
  <li><a href="#conclusion-and-future-work">Conclusion and Future Work</a></li>
  <li><a href="#acknowledgments">Acknowledgments</a></li>
  <li><a href="#references">References</a></li>
</ul>
