---
layout: documentation
title: {{ type.name }}
---

<h1>{{ type.name }}<span class="subdued">{{ type.schema.title }} Schema</span></h1>

{% for doc in type.documentation %}<p>{{doc}}</p>{% endfor %}

<hr />

{% if type.vocab? %}
<h2>Vocabulary Items</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
  {% for item in type.vocab_items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Fields</h2>

{% endif %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {% for field in type.fields %}
    <tr>
      <td>{{field.name}}<span class="occurrence">{{field.occurrence}}</span></td>
      <td>
        {% if field.link %}
          <a href="{{field.link}}">{{field.type}}</a>
        {% else %}
          {{field.type}}
        {% endif %}
      </td>
      <td>
        {% for doc in field.documentation %}
          <p>{{doc}}</p>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>