<!DOCTYPE html>
<html>
  {% include header.html %}
  <body{% if page.toc %} data-spy="scroll" data-target="#toc" style="position: relative; margin-bottom: 0;"{% endif %}>

    {% include nav.html %}

    <div class="container">
      <div class="row">
      {% if page.toc %}
        <div class="col-md-10">
          {% unless page.no_in_page_title %}<h1>{{ page.title }}</h1>{% endunless %}
          {{ content }}
        </div>
        <div class="col-md-2">
          <div id="toc" class="well pull-right hidden-sm affix">
            {% include {{page.toc}} %}
          </div>
        </div>
      {% else %}
        <div class="col-md-12">
        {% unless page.no_in_page_title %}<h1>{{ page.title }}</h1>{% endunless %}
        {{ content }}
        </div>
      {% endif %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
